.lashes {
    padding-bottom: 3%;
  
      h3 {
        color: rgb(41, 41, 41);
        font-style: italic;
        font-size: 55px;
        font-weight: lighter;
        margin: 0; /* Убираем стандартные отступы */
        padding: 0;
        margin-top: 3%;
        margin-bottom: 1%;
      }
  
      p {
        font-size: 30px;
        font-style: italic;
        margin: 0; /* Убираем стандартные отступы */
        padding: 0;
        margin-bottom: 2%;
        color: #000;
      }
  
      .cards {
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 30%));
        gap: 5%;
  
        .card {
          background: #FFF8F250;
          border-radius: 8px;
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
          text-align: center;
          overflow: hidden;
          transition: transform 0.3s ease;
  
          &:hover {
            transform: translateY(-5px);
          }
  
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            pointer-events: none;
          }
  
          h4 {
            font-size: 30px;
            font-weight: lighter;
            margin: 3%;
          }
  
          ul {
            list-style: none;
            padding: 0;
            margin: 5%;
  
            li {
              font-size: 14px;
              margin: 5px 0;
            }
          }
        }
      }
    }