.container {
    justify-content: center;
    padding: 0;
}

.topperTitle {
    font-size: 200%;
    text-align: left;
    font-weight: bold;
    color: #4F3427;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
}

.profileContainer {
    display: grid;
    grid-template-columns: 26% 55% auto; //1-колонка под фото; 2-инфо; 3-редактировать

    flex-wrap: wrap;

    width: 70%;
    border: 2px solid #E5CFB8;
    background-color: #FAF0E8;
    border-radius: 15px;
    margin: 50px auto;
    text-align: center;

    .photo {
        overflow: hidden;
        max-height: 300px;
        max-width: 250px;

        //min-height: 100px;
        min-width: 83px;

        border-radius: 0.7rem;
        margin: 2.7rem;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
        }
    }

    .info {
        display: flex;
        justify-content: left;
        margin-top: 2.7rem;
        margin-bottom: 2.7rem;
        flex-direction: column;
        color: #4F3427;

        h3 {
            font-size: 100%;
            margin-top: 0%;
            margin-bottom: 1%;
        }

        .work {
            display: flex;
            justify-content: left;
            margin-top: 2.7rem;
            font-size: 100%;
            margin-top: 0%;
            margin-bottom: 1%;
        }

        .fio {
            display: flex;
            justify-content: left;
            margin-top: 2.7rem;
            font-size: 200%;
            margin-top: 0%;
            margin-bottom: 1%;
        }

        .exp {
            display: flex;
            justify-content: left;
            margin-top: 2.7rem;
            font-size: 100%;
            margin-top: 2%;
            margin-bottom: 1%;
        }

        .photoCarousel {
            overflow: hidden;
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            margin: 0;
            margin-top: 2%;
            max-width: 380px;

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        .serviceList {
            display: flex;
            justify-content: left;
            margin: 0;
            margin-top: 3%;
            flex-direction: column;

            .showMore {
                color: #d6004f;
                font-weight: 500;
                margin-top: 8px;
                cursor: pointer;
                user-select: none;
                text-align: left;
                display: block;
            }

            .service {
                display: flex;
                justify-content: left;
                margin: 0;
                margin-top: 1%;
            }

            .serviceRow {
                display: flex;
                align-items: center;
                white-space: nowrap;
                font-size: 16px;
                margin-bottom: 4px;
            }

            .serviceName {
                flex-shrink: 0;
            }

            .dots {
                flex-grow: 1;
                border-bottom: 1px dotted #000;
                margin: 0 8px;
                height: 1em;
                position: relative;
                top: -0.2em;
            }

            .servicePrice {
                flex-shrink: 0;
            }
        }

        .workAdress {
            display: flex;
            justify-content: left;
            margin: 0;
            margin-top: 5%;
            flex-direction: column;

            .workName {
                display: flex;
                justify-content: left;
                margin: 0;
                margin-top: 1%;
                font-size: 120%;
            }

            .fullAdress {
                display: flex;
                justify-content: left;
                margin: 0;
                margin-top: 2%;
            }
        }

        .phoneNumber {
            display: flex;
            justify-content: left;
            margin: 0;
            margin-top: 5%;
            flex-direction: column;

            .telText {
                display: flex;
                justify-content: left;
                margin: 0;
                margin-top: 1%;
                font-size: 120%;
            }

            .phoneBox {
                display: flex;
                background-color: rgb(204 183 163 / 50%);
                max-width: 250px;
                height: 65px;
                border-radius: 0.4rem;
                margin-top: 3%;
                align-items: center;
                justify-content: center;

                .number {
                    margin: 0;
                    font-size: 120%;
                }
            }

        }
    }

    .heartButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-left: 1rem;
        padding: 4px;
        background: none;
        color: #4F3427;
        opacity: 0.7;
        border: none;
        text-decoration: none;
        border-radius: 50%;
        width: 3vw;
        height: 3vw;
    }

    .heartButton:hover {
        color: #4F3427;
        background-color: #FAF0E8;
    }

    .HeartIcon {
        padding: auto;
        //margin-right: 6%;
        //width: 80%;
    }

}

/* Медиа-запросы */
@media (max-width: 1200px) {
    .profileContainer {
        padding: 20px;
        margin: 30px auto;

        .photo {
            margin: 1.5rem;
            max-width: 200px;
            max-height: 300px;

            img {
                height: 250px;
            }

            .ratingContainer .ratingText {
                font-size: 1.5vw; // Адаптивный размер
            }
        }

        .editButton {
            font-size: 0;
            padding: 8px;

            .MuiButton-startIcon {
                font-size: 1rem;
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
        }
    }
}

@media (max-width: 1000px) {
    .container {
        padding: 3%;

        .profileContainer {
            padding: 20px;
            gap: 3%;
            margin: 30px auto;
            grid-template-columns: 1fr;

            .photo {
                margin: 1rem auto;
                width: 30vw;
                height: 42vw;

                img {
                    height: 250px;
                }
            }

            .photoCarousel {
                grid-template-columns: repeat(3, 1fr);
            }

            .editButton {
                font-size: 1rem !important;
                padding: 8px 16px !important;
                position: relative;
                margin: 1rem auto;

                .MuiButton-startIcon {
                    margin-right: 8px !important;
                }

                span:not(.MuiButton-startIcon) {
                    display: inline-block !important;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        .topperTitle {
            font-size: 150%;
        }

        .profileContainer {
            width: 90%;
            padding: 20px;
            margin: 30px auto;

            .photo {
                img {
                    height: 200px;
                }

                .ratingContainer {
                    .ratingText {
                        font-size: 100%;
                    }
                }
            }

            .info {
                padding-top: 5%;
            }

            .photoCarousel {
                grid-template-columns: repeat(3, 1fr);
            }

            .workName,
            .telText {
                font-size: 90%;
            }

            .editButton {
                margin: 1rem auto;
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        .topperTitle {
            font-size: 130%;
            padding: 1rem 5%;
        }

        .profileContainer {
            width: 95%;
            padding: 15px;
            grid-template-areas: "photo" "info";

            .info {
                padding-top: 10%;
            }

            .photo {
                .ratingContainer {
                    padding: 0.5rem;

                    .ratingText {
                        font-size: 3vw;

                    }
                }
            }

            .editButton {
                width: 100%;
                margin: 10px auto;
            }

            .photoCarousel {
                grid-template-columns: repeat(3, 1fr);

                img {
                    height: 60px;
                }
            }

            .phoneBox {
                height: 50px !important;

                .number {
                    font-size: 100% !important;
                }
            }

            .serviceName,
            .servicePrice {
                font-size: 14px !important;
            }

            .fio {
                font-size: 110% !important;
            }

            .work {
                padding-top: 0 !important;
            }
        }
    }
}

@media (max-width: 400px) {
    .profileContainer {
        .photoCarousel {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }
}