.brows {
  padding-bottom: 3%;

  h3 {
    font-style: italic;
    font-size: 55px;
    font-weight: 300;
    margin: 3% 0 1%;
  }

  p {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 2%;
  }

  .cards {
    padding: 0 10%;
    
    .card {
      border-radius: 8px;

      h4 {
        font-size: 30px;
        font-weight: 300;
        margin: 3%;
      }

      ul {
        li {
          font-size: 14px;
        }
      }
    }
  }
}