.appBar {
  background-color: #FFFCF9  !important;
  box-shadow: none !important;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.toolbar {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  max-width: 100%;
  padding: 0 !important;
}

.toolbarDiv {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 13%;
  margin-bottom: 13%;
  .logo {
    height: auto;
    max-height: 5rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  transform: translateX(-10%);
}

.profileMenu {
  color: #F5EBE2;
  height: 70%;
}

.icon {
  font-size: clamp(1.5rem, 6vw, 2.5rem) !important; // размер иконок справа от лого
  color: #8C7062 !important;
}

@media (max-width: 768px) {
  .logo {
    max-height: 8rem !important;
  }
  .menu {
    gap: 0.8rem;
  }
}

@media (min-width: 484px) {
  .logo {
    max-height: 2.2rem !important;
    min-width: 1 rem !important;
  }
  
  .icon {
    font-size: 1.8rem !important; // Увеличиваем иконки по сравнению с 320px
  }
  
  .menu {
    gap: 0.7rem;
  }
}

@media (max-width: 480px) {
  .logo {
    max-height: 7vw !important;
    min-width: 3vw !important;
  }
  
  .menu {
    gap: 0.1vw;
    transform: translateX(3%) !important;
  }
  
}

@media (max-width: 320px) {
  .logo {
    max-height: 7vw !important;
    min-width: 3vw !important; // Минимальная ширина лого
  }
  
  .menu {
    gap: 0.1vw;
    transform: translateX(5%) !important;
  }
  
  .icon {
    font-size: 1.2rem !important; 
  }
  
  .toolbar {
    min-height: 50px !important;
  }
}
