.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.inner {
  background: #f7efe9;
  border-radius: 12px;
  padding: 24px;
  min-width: 300px;
  color: #5c4033;
  max-width: 400px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  color: #5c4033;
  cursor: pointer;
}

.options {
  max-height: 300px; // или любое значение, подходящее для твоего дизайна
  overflow-y: auto;
  padding-right: 8px; // чтобы скролл не перекрывал текст
  margin-bottom: 15px;
  scrollbar-width: thin; // Firefox
  scrollbar-color: #6b5145 transparent;
  flex-direction: column; // Основное изменение
  gap: 12px; // Расстояние между элементами

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6b5145;
    border-radius: 4px;
  }
}


.option {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 !important; // Сбрасываем стандартные отступы
  width: 100%;
  
  .MuiFormControlLabel-label {
    width: 100%;
    margin-left: 8px;
  }

  .MuiCheckbox-root {
    color: #6b5145 !important;
    
    &.Mui-checked {
      color: #5c4033 !important;
    }
    
    .MuiSvgIcon-root {
      font-size: 28px;
    }
  }
  
  .MuiRadio-root {
    color: #6b5145 !important;
    
    &.Mui-checked {
      color: #5c4033 !important;
    }
    
    .MuiSvgIcon-root {
      font-size: 28px;
    }
  }
}

.apply {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  background-color: #5c4033;
  &:hover {
    background-color: #6b5145;
  }
}
