.container {
  padding: 0;
  padding-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.title {
  font-size: clamp(24px, 5vw, 48px) !important;
  padding-top: 4%;
  font-weight: bold;
  color: #4d4136;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit; 
}

.gridContainer {
  padding: 0;
  padding-top: 2%;
  //padding-left: 10%;
  //padding-right: 10%;
}

.serviceItem {
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 20rem;
  max-width: 20rem;
  min-width: auto;
  min-height: auto;
  //margin-bottom: 1rem;
  background-color: #F5EBE2;
  border-radius: 8px;
  
}
.pictureFigure{
  margin: 0;
  margin-top: 10%;
  padding: 0%;
  border-radius: 10%;
}

.serviceImage {
  overflow: hidden;
  width: 30vh;
  border-radius: 10px; // не работает почему то
  
  @media (max-width: 768px) {
    max-width: 250px;
  }
  
  @media (max-width: 480px) {
    max-width: 200px;
  }
}

.serviceTitle {
  font-size: clamp(20px, 3vw, 32px) !important;
  color: #333333;
  padding-top: 4%;
  padding-bottom: 8%;
}

.textWrapper {
  margin-top: 2rem;
  text-align: left;
  padding-left: 8%;
}

.serviceLabel {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: bold;
  color: #000000;
}

.descriptionList{
  list-style-type: none;
  padding: 0;

  li {
    font-size: clamp(14px, 1.5vw, 18px);
    color: #000000;
    padding-bottom: 3%;
  }
}

.extraList {
  list-style-type: none;
  padding: 0;

  li {
    font-size: clamp(18px, 2.5vw, 24px);
    font-weight: 400;
    color: #000000;
    padding-bottom: 3%;
  }
}

.extraItem {
  font-size: clamp(14px, 1.6vw, 18px);
  color: #000000;
  padding-bottom: 2%;
}

.extraTitle {
  font-size: clamp(18px, 2.2vw, 26px);
  color: #000000;
  text-align: left;
  padding: 0;
  padding-top: 3%;
  padding-left: 1rem;
  padding-bottom: 3%;
}

@media screen and (max-width: 769px) {
  .serviceImage {
    width: 80%;
    height: auto;
    padding: 0;
    margin-top: 5%;
  }

  .gridContainer {
    padding-left: 0;
    padding-right: 0;
  }

  .serviceItem {
    width: 100%;
    margin-bottom: 2rem;
  }

  .textWrapper {
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .gridContainer {
    padding: 2% 3%;
  }
  
  .serviceItem {
    max-width: 550px;
    margin: 20px 0;
  }
  
  .card {
    flex-direction: column;
    border-radius: 16px;
  }
  
  .serviceImage {
    height: 50%;
    border-radius: 8px;
  }
}


@media screen and (max-width: 600px) {
  .gridContainer {
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 0;
  }

  .serviceItem {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card {
    width: 60%;
  }

  .serviceImage {
    width: 80%;
    margin-top: 8%;
  }

  .textWrapper {
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
  }
}

@media screen and (max-width: 460px) {
  .gridContainer {
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 0;
  }

  .serviceItem {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card {
    width: 60%;
  }

  .serviceImage {
    width: 80%;
    margin-top: 8%;
  }

  .textWrapper {
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
  }
}


