.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.inner {
  background: #f7efe9;
  border-radius: 12px;
  padding: 24px;
  min-width: 300px;
  color: #5c4033;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  color: #5c4033;
  cursor: pointer;
}

.options {
  max-height: 300px; // или любое значение, подходящее для твоего дизайна
  overflow-y: auto;
  padding-right: 8px; // чтобы скролл не перекрывал текст
  margin-bottom: 15px;
  scrollbar-width: thin; // Firefox
  scrollbar-color: #ccc transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}


.option {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.apply {
  width: 100%;
  background: #d7c2b4;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}
